.backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    overflow: scroll;
}

.hidden {
    display: none;
}

.close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.close:hover {
    color: var(--secondary);
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
    color: var(--color-text);
    border: var(--color-text) solid 2px;
    background-color: var(--color-background);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    transition: color .1s, background-color .1s, border .1s;
}

.button:hover {
    color: var(--color-background);
    border: var(--color-text) solid 2px;
    background-color: var(--color-text);
    cursor: pointer;
    transition: color .1s, background-color .1s, border .1s;
}

.container {
    margin: auto;
    padding: 30px 30px 30px 30px;
    max-width: 840px;
    background-color: var(--color-background);
    color: var(--color-text);
    text-align: justify;
}

.container p {
    line-height: 1.6;
}
