.sideMenuDiv {
    padding: 0 5px 0 5px;
    right: 0;
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 100%;
    background-color: var(--color-background);
    box-shadow: 0 2px 6px 3px var(--shadow);
    color: var(--color-text);
    transform: translateX(0);
    transition: transform .5s ease-in-out;
    font-family: 'Helvetica Neue', sans-serif;
}

.close {
    transform: translateX(330px);
}

.header {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeButton {
    color: var(--color-text);
    position: relative;
    transition: color .1s;
}

.closeButton:hover {
    cursor: pointer;
    color: var(--primary-light);
    transition: color .1s;
}

.items {
    height: calc(100% - 200px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    user-select: none;
}

.item {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    transition: color .1s;
}

.item:hover, .item:active {
    cursor: pointer;
    color: var(--primary);
    transition: color .1s;
}

.toggleContainer {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggleLabel {
    text-align: right;
    width: 50px;
    user-select: none;
}

.icon {
    transition: color .1s;
}

.icon:hover, .icon:active {
    cursor: pointer;
    color: var(--primary);
    transition: color .1s;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 861px) {
    .sideMenuDiv {
        display: none;
    }
}
