.header {
    --dynamic-height: 63dvh;
    height: var(--dynamic-height, 63vh);
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    gap: 15px;
}

.icon {
    transition: color .1s;
}

.icon:hover {
    cursor: pointer;
    color: var(--primary);
    transition: color .1s;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: end;
}

.info {
    max-width: 380px;
    line-height: 1.6;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .links {
        display: none;
    }

    .header {
        margin: 0 15px 0 15px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .infoBox {
        justify-self: end;
    }
}
