.workItem {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding-bottom: 25px;
    max-width: 500px;
}

summary {
    list-style: none;
}

.workItem h3 {
    margin: 0;
}

.workItem h4 {
    margin: 2px 0;
}

.workItem a {
    white-space: nowrap;
    color: var(--primary);
    text-decoration: none;
}

.workItem a:hover {
    text-decoration: underline;
}

.workTitle {
    user-select: none;
}

.workDate {
    user-select: none;
    font-weight: normal;
    font-size: 12px;
}

.timelineCircle {
    margin: 6px;
    width: 12px;
    height: 12px;
    background-color: var(--color-background);
    border: var(--primary) solid 2px;
    border-radius: 12px;
    flex: none;
}

.timelineCircleRecent {
    background-color: var(--primary);
}

.workContent {
    font-weight: normal;
    width: 100%;
}

.toggleButton {
  background: none;
  padding: 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 2rem;
  color: var(--secondary-light);
  transition: transform 0.2s ease;
}

.collapseIcon {
  transition: transform 0.2s ease;
}

.collapseIcon.rotate {
  transform: rotate(-180deg);
}

.toggleButton:hover {
  background: none;
  border: none;
  border-radius: 20px;
  color: var(--secondary);
}

.workItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}

.workInfo {
  list-style: disc;
  margin-top: 0.5rem;
  padding-left: 1.2rem;

  /* animation setup */
  max-height: 500px; /* large enough for content */
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  opacity: 1;

  li {
    max-width: 480px;
    margin: 15px 0;
  }
}

.collapsed {
  max-height: 0;
  pointer-events: none;
}

.connector {
    top: 10px;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 13px;
    background-color: var(--primary-shade);
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .arrow {
        font-size: 25px;
    }

    .workTitle {
        font-size: 14px;
    }
}
