.arrow {
    font-size: 30px;
}

.workItem {
    padding: 15px;
    display: grid;
    grid-template-columns: auto 1fr 30%;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

.workItem::-webkit-details-marker, .workItem::marker {
    display: none;
}

summary {
    list-style: none;
}

.workItem:hover {
    cursor: pointer;
}

.itemClosed:hover {
    background-color: var(--tertiary-dark);
}

.workItem a {
    white-space: nowrap;
    color: var(--primary);
    text-decoration: none;
}

.workItem a:hover {
    text-decoration: underline;
}

.workTitle {
    user-select: none;
}

.workDate {
    user-select: none;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
}

.workContent {
    padding-left: 50px;
    font-weight: normal;
    padding-bottom: 15px;
}

.workContent ul {
    margin: 0;
    text-align: justify;
    line-height: 1.6;
}

.workContent li {
    font-size: 14px;
    padding: 5px 15px 5px 5px;
}

.workOpen {
    background-color: var(--selected);
}

@media screen and (max-width: 600px) {
    .arrow {
        font-size: 25px;
    }

    .workTitle {
        font-size: 14px;
    }
}
