.workItem {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding-bottom: 25px;
}

summary {
    list-style: none;
}

.workItem h3 {
    margin: 0;
}

.workItem h4 {
    margin: 2px 0;
}

.workItem a {
    white-space: nowrap;
    color: var(--primary);
    text-decoration: none;
}

.workItem a:hover {
    text-decoration: underline;
}

.workTitle {
    user-select: none;
}

.workDate {
    user-select: none;
    font-weight: normal;
    font-size: 12px;
}

.timelineCircle {
    margin: 6px;
    width: 12px;
    height: 12px;
    background-color: var(--color-background);
    border: var(--primary) solid 2px;
    border-radius: 12px;
    flex: none;
}

.timelineCircleRecent {
    background-color: var(--primary);
}

.workContent {
    font-weight: normal;
}

.connector {
    top: 10px;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 13px;
    background-color: var(--primary-shade);
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .arrow {
        font-size: 25px;
    }

    .workTitle {
        font-size: 14px;
    }
}
