body {
  --color-background: #F9F9F9;
  --color-text: #282828;
  --primary-c: 148.42; /* 255.31 */ /* oklch(0.7594 0.0748 148.42) */
  --primary: oklch(0.5614 0.1603 var(--primary-c));
  --primary-light: oklch(0.7594 0.0748 var(--primary-c));
  --primary-shade: oklch(0.4872 0.1373 var(--primary-c));
  --secondary: #677684;
  --secondary-light: #9cafbb;
  --secondary-shade: #3f4854;
  --tertiary: #ECEBEB;
  --tertiary-light: #F3F3F3A8;
  --tertiary-dark: #dcdcdc;
  --selected: #6AA2E32D;
  --shadow: #67768433;
  --image-grayscale: 0;
  --image-opacity: 100%;
  --backdrop: rgba(40, 40, 40, 0.3);
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

h1 {
  font-size: 52px;
  margin: 0;
}

h2 {
  margin: 0;
  font-variant-caps: all-small-caps;
  color: var(--primary);
}

label {
  font-weight: bold;
  color: var(--secondary);
}

img, video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

body.dark {
  --color-background: #282828;
  --color-text: #F9F9F9;
  --primary-c: 148.42; /* 243.42 */
  --primary: oklch(0.6091 0.1388 var(--primary-c));
  --primary-light: oklch(0.7197 0.0759 var(--primary-c));
  --primary-shade: oklch(0.5413 0.1125 var(--primary-c));
  --secondary: #677684;
  --secondary-light: #9cafbb;
  --secondary-shade: #3f4854;
  --tertiary: #383838;
  --tertiary-light: rgba(45, 45, 45, 0.66);
  --tertiary-dark: #dcdcdc;
  --selected: #6AA2E32D;
  --shadow: rgba(17, 20, 23, 0.3);
  --image-grayscale: 10%;
  --image-opacity: 90%;
  --backdrop: rgba(19, 19, 19, 0.5);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}
